<div class="component-width" *ngIf="loaded; else loading">
  <div class="portfolio-top">
  <div class="h1-abweichung">Portfolio</div>
  <div class="h2-abweichung-dunkel">Aktuelle Projekte</div>
  <div class="portfolio-text-box">
    <p class="portfolio-p" > In meinen eigenen Software-Projekten verfolge ich stets Ideen, die mir im Alltag einen praktischen Nutzen bieten. Sobald ich dann eine funktionsfähige Version entwickelt habe, setze ich mir das Ziel, die Anwendung so weiter auszubauen, dass sie für eine breitere Nutzerbasis attraktiv wird.</p>
  </div>
  </div>
  <div class="portfolio-component">
    <div *ngFor="let card of cards; let i = index"  class="custom-card">
      <div>
          <div class="projekt-beschriftung">{{card.title}}</div>

          <div class="link-container" *ngIf=" card.gps || card.live || card.link">
            <div *ngIf="card.gps" class="link-item">
              <a href="{{ card.gps }}" target="_blank" (click)="$event.stopPropagation()" class="link">Google Play Store</a>
            </div>
          <div *ngIf="card.live" class="link-item">
            <a href="{{ card.live }}" target="_blank" (click)="$event.stopPropagation()" class="link">Web</a>
          </div>
          <div *ngIf="card.link" class="link-item">
            <a href="{{ card.link }}" target="_blank" (click)="$event.stopPropagation()" class="link">Github</a>
          </div>

        </div>

        <div class="projekt-beschriftung-detail">
          <div class="card-header" >{{card.header}}</div>
          <div class="scroll-symbol" (click)="scrollImages(i)">
            <i class="fas fa-chevron-circle-down scroll-icon"></i>
          </div>
        </div>
      </div>
      <br>
      <img [src]="card.images[card.currentImage]" alt="{{card.title}}" class="card-image" >
    </div>
  </div>
</div>

  <ng-template #loading>
    <p>Lädt...</p>
  </ng-template>
