<div class="component-width" *ngIf="loaded; else loading">
  <div class="portfolio-top">
    <div class="h1-abweichung">{{ 'portfolio.title' | translate | async }}</div>
    <div class="projekt-kategorien">{{ 'portfolio.categories.research' | translate | async }}</div>
    <ul>
      <li>Migration from Sub-Saharan Africa to the European Union: Does Food Insecurity Play a Role?
      <p><em>Austrian Journal of Agricultural Economics and Rural Studies.</em>(2021), 30(1), 103-113.</p>
      <a href="https://forschung.boku.ac.at/de/publications/140426" class="doi-link">DOI: 10.15203/OEGA_30.13</a></li>
      <br>
      <li><em>Work in progress</em></li>
    </ul>
  </div>

</div>

<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
