<div class="techstack-services">
 <!-- <br>-->
 <!-- <div class="h2-abweichung-dunkel">Techstack</div>-->
<!--  <br>
  <p>Für die Entwicklung in Frontend und Backend werden jeweils verschiedene Technologien eingesetzt, deren Gesamtheit den sogenannten Techstack darstellt. Mit dem aufgeführten Techstack ist eine Umsetzung der allermeisten Webanwendungen möglich.</p>
  <br>
  <p>Unter "Tools" sind außerdem noch Technologien und Methoden angeführt, die nützliche Helfer für die organisatorischen und konzeptuellen Aufgaben sind.Mein Techstack zur Umsetzung von Projekten umfasst die folgenden Technologien:</p>
 --> <div class="techstack-graph">

    <div class="techstack-container">
      <button class="button-tech fe">FRONTEND</button>
      <p class="tech-fe">HTML/SCSS&nbsp;&nbsp;|&nbsp;&nbsp;JavaScript&nbsp;&nbsp;|&nbsp;&nbsp;Angular + TypeScript&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Playwright&nbsp;&nbsp;|&nbsp;&nbsp;Barrierefreiheit</p>
    </div>

    <div class="techstack-container">
      <button class="button-tech be">BACKEND</button>
      <p class="tech-be">Java&nbsp;&nbsp;|&nbsp;&nbsp;Spring Boot&nbsp;&nbsp;|&nbsp;&nbsp;REST&nbsp;&nbsp;|&nbsp;&nbsp;OpenAPI&nbsp;&nbsp;|&nbsp;&nbsp;MySQL&nbsp;&nbsp;|&nbsp;&nbsp;Spring Test&nbsp;&nbsp;|&nbsp;&nbsp;JUnit&nbsp;&nbsp;|&nbsp;&nbsp;Docker&nbsp;&nbsp;|&nbsp;&nbsp;AWS: Lightsail, S3, Cognito, Lambda&nbsp;</p>
    </div>

    <div class="techstack-container">
      <button class="button-tech tool">TOOLS/KONZEPTE</button>
      <p class="tech-tool">Gitlab/Github&nbsp;&nbsp;|&nbsp;&nbsp;JIRA&nbsp;&nbsp;|&nbsp;&nbsp;IntelliJ&nbsp;&nbsp;|&nbsp;&nbsp;UML&nbsp;&nbsp;|&nbsp;&nbsp;FIGMA&nbsp;&nbsp;|&nbsp;&nbsp;GIMP&nbsp;&nbsp;|&nbsp;&nbsp;SCRUM&nbsp;&nbsp;|&nbsp;&nbsp;Hexagonale Architektur</p>
    </div>
  </div>
</div>
