<div class="arbeitsweise-services">
<div class="h2-abweichung-dunkel">Effiziente Softwareentwicklung</div>
<p>
  {{'arbeitsweise.description' | translate | async }}
</p>

<p class="vorteil-von"><strong>{{'arbeitsweise.vorteile.heading' | translate | async }}</strong></p>
<br>
<div class="arbeitsweise-container">
  <div class="arbeitsweise">
    <p-accordion [activeIndex]="0">
      <p-accordionTab header="Zuverlässigkeit und Stabilität">
        <p>
          {{'arbeitsweise.vorteile.details.0.description' | translate | async }}
        </p>
      </p-accordionTab>
      <p-accordionTab header="Kostenersparnis">
        <p>
          {{'arbeitsweise.vorteile.details.1.description' | translate | async }}
        </p>
      </p-accordionTab>
      <p-accordionTab header="Schnellere Markteinführung">
        <p>
          {{'arbeitsweise.vorteile.details.2.description' | translate | async }}
        </p>
      </p-accordionTab>
      <p-accordionTab header="Verbesserte Nutzererfahrung">
        <p>
          {{'arbeitsweise.vorteile.details.3.description' | translate | async }} </p>
      </p-accordionTab>
      <p-accordionTab header="Sicherheit">
        <p>
          {{'arbeitsweise.vorteile.details.4.description' | translate | async }} </p>
      </p-accordionTab>
      <p-accordionTab header="Langfristiger Projekterfolg">
        <p>
          {{'arbeitsweise.vorteile.details.5.description' | translate | async }} </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
</div>
