<div class="header-background">
<div class="header-component">
  <div class="header-content">
  <div class="logo">
    <a [routerLink]="['/']">
    <img  src="assets/images/ad_rund_85.ico" alt="Logo">
    </a>
  </div>

    <div class="hamburger-menu" (click)="toggleMenu()">
      <i class="pi pi-align-justify"></i>
    </div>

    <div class="menu" [ngClass]="{'open': menuOpen}">
        <a class="header-font" *ngFor="let item of items" [routerLink]="item.url"
           (click)="setActiveItem(item.url); toggleMenu()"
           [ngClass]="{'active-menu-item': activeItem === item.url}">
          {{ item.label }}
        </a>
        <p-toggleButton [(ngModel)]="isEnglish"
                        (onChange)="toggleLanguage()"
                        onLabel="en"
                        offLabel="de">
        </p-toggleButton>
    </div>

  </div>
  </div>
</div>
