$primary-color: #424242;
$secondary-color: #f5f5f5;
$tertiary-color: #ffffff;

$text-color-ueberschrift: #333333;
$text-color-unterueberschrift:#757575;
$text-color-text:#333333;

$detail-color: #f46031;
$detail-color-2: #0e9fae;
$detail-color-3:black;
$detail-color-4: #1cbc9b;


$text-color-ueberschrift-dunkel:#333333;
$text-color-unterueberschrift-dunkel:#757575;
$text-color-text-dunkel:#7f7f7f;



:root {
  --base-font-size: 16px;
  margin:0;
}


body,html{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

}

.services-background {
  height: 100%;
  width:100vw;
  background: linear-gradient(
      to bottom,
      $tertiary-color 0%,
      $tertiary-color 33%,
      $secondary-color 33%,
      $secondary-color 65%,
      $tertiary-color 65%,
      $tertiary-color 100%,
  );
  background-size:  500vh;
  font-size: var(--base-font-size);
  font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;
}

.homeback-background::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 16.5%;
  left: 0;
  right: 0;
  height: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.component-width{
  margin-left: 450px!important;
  margin-right: 450px!important;
}

@media screen and (max-width: 600px) {
  .component-width {
    margin-left: 1rem!important;
    margin-right: 1rem!important;
  }

}

a:hover{
  color: $text-color-ueberschrift;
  text-decoration: none;
}


p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-size:1.2rem;
  line-height:1.5;
}

.p-abweichung {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  font-size:1.2rem;
  line-height:1.5;
  text-align:center;
}

.p-bright-background {
  color: $text-color-text;
  font-size:22px;
  padding: 10px 0;
  padding-top: 0;
}

h1{
  font-size:3.5rem;
  font-weight: bold;
  color:$text-color-ueberschrift;
  padding-bottom:0;
  margin-bottom:0;
  margin-top:5rem;
  text-align:center;
}

.h1-abweichung{
  color:$detail-color;
  font-size:4rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  line-height: 3rem;
  margin: 0 auto;
  width: 100%;
}

/*.h1-abweichung-home{
  color:$detail-color;
  font-size:2.5rem;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  line-height: 3rem;
  margin: 0 auto;
  width: 100%;
}*/

.h2-abweichung{
  padding: 3rem 0;
  font-size:1.5rem;
  font-weight:bold;
}

.h1-abweichung {
  font-size: 4rem;
  font-weight: bold;
  color: $detail-color;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left:-3px;
  margin-top: 5rem;
}



h2{
  font-size:2.0rem;
  color:$text-color-unterueberschrift-dunkel;
  margin-bottom:20px;
  margin-top:20px;
  font-weight:lighter;
  text-align:center;
}


@media screen and (max-width: 600px) {

  .arbeitsweise-services{
    display:flex;
    justify-content:center;
  }

  .button-container {
    flex-direction: column;
    width:300px;
    position: relative;
    margin-bottom:1rem;
  }

  p{
    display:flex !important;
    justify-content:center !important;
    text-align:justify !important;
    margin: 0 1rem;
  }

  .h1-abweichung {
    font-size: 3rem;
    margin-top:8rem;
    width:90vw;
    color:$detail-color;
    display:flex !important;
    justify-content:center !important;
  }

  .h1-abweichung-home{
    color:$detail-color;
    margin-top:8rem;
    font-size:1.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    padding-top: 3rem ;
    width: 90%;

  }


  .h2-abweichung {
    font-size: 1.5rem;
    width:80vw;
    margin-top:1rem;
    padding-bottom:1rem;
  }

  .h2-abweichung-dunkel {
    font-size: 0.5rem;
    display:flex;
    justify-content:center;
    text-align:center;
  }

  .home-box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
  }

  .home-block-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-top:4rem;
  }


  .home-box-image {
    order: 2;
    padding-right: 0;
    padding-top: 2rem;
    height: auto;
    max-width: none;
  }

  .home-box-image img {
    width: 90vw;
    height: auto;
    max-width: none;
  }

  .home-box-text{
    order: 1;
    width:100%;
    text-align: center;
  }

}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .h1-abweichung {
    font-size: .5rem;
  }

  .h2-abweichung {
    font-size: 1.2rem;
    font-weight:bolder;
  }

}

.h2-abweichung-dunkel{
  font-size:1.7rem;
  color:$primary-color;
  margin-bottom:20px;
  margin-top:20px;
  font-weight:bold;
}

.ueberschrift-dunkel{
  color: $text-color-ueberschrift-dunkel;
  font-weight:initial;

}

.unterueberschrift-dunkel{
  color: $text-color-unterueberschrift-dunkel;
}

.text-dunkel{
  color: $text-color-text-dunkel;
}

ul li {
  font-size:1.2rem;
  line-height:1.5;
}

ul li a {
  color: black;

  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}


/*Generische Komponenten*/

.generic-button {
  width:200px;
  height:50px;
  border: 2px solid $detail-color;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color:$detail-color;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  margin-top:1.3rem;

  &:hover {
    background-color: darken($detail-color, 10%);
  color:$tertiary-color;
  }
}

/*RouterOutlet*/
.router-outlet-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/*Branding-Komponente*/
.branding-component {
  display: flex;
  margin: 0;
  justify-content: right;
  padding-right:370px;
  width: 100%;
  background-color: $secondary-color;
}

.field {
  flex: 1;
  padding: 10px;
  text-align: center;
}

.left-field {
}

.right-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-up-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
}



.listing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}

.listing ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.listing li:last-child {
  margin-right: 0;
}

@keyframes popUp {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.scroll-top-button {
  display: flex;
  padding:10px;
  cursor: pointer;
  font-size: 20px;
  background-color:black;
  border:1px solid black;
  color:white;
  border-radius: 50px;
  transition: background 0.4s ease;
  animation: popUp 0.5s ease forwards;
}


.scroll-top-button-fade-out {
  animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.scroll-top-button:hover {
  background: $primary-color;
  color:$secondary-color;
}

.field-fixed {
  position: fixed;
  right: 0;
  bottom: 5%;
  margin-right:25px;
  display:flex;
  align-items:center;
}

/*Header-Komponente*/

.header-background {
  background-color: #ffffff;
  height:7rem;
  display:flex;
  justify-content: center;
  width: 60%;
  margin: 1rem auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position:sticky;
  top: 1rem;
  z-index: 1000;
}


.header-component {
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  z-index: 9000;
}

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-left: 5rem;
    padding-right: 5rem;
    width:100%;
  }

  .header-font {
    margin-right: 30px;
    font-size:20px;
    align-items: center;
    color: rgba(0, 0, 0, 0.4);
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  .logo {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction:row;
    justify-content:right;
    align-items: center;
    flex: 3;
  }

  .custom-button {
    color: white;
    border-radius: 50px !important;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    cursor:pointer;
  }

  .custom-button:hover {
    text-decoration:none;
  }

  .custom-tooltip {
    background-color: black;
    color: white ;
  }

  .p-toggleButton .p-button {
    border-radius: 50px !important;
  }

  .p-toggleButton:hover {
    border: 1px solid black;
  }

  .p-togglebutton.p-button.p-highlight {
    background-color: black;
    border: 1px solid white;
    color:white;
  }

  .p-button:focus {
    border: 1px solid black;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none;
  }

.active-menu-item {
  color: $detail-color;
  padding: 0;
  padding-bottom: 2px;
}

  a:hover {
    color: $detail-color;
}

.hamburger-menu {
  display: none;
}

  .dropdown-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: gray;
    color: white;
    z-index: 10000;
    overflow-y: auto;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
  }


@media screen and (max-width: 600px) {

  .header-background{
    background-color: #ffffff;
    height:5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1000;
    top: 0;
    padding: 0 1.7rem;
  }

  .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0;
    width: 100%;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .hamburger-menu .pi {
    font-size: 24px;
    color: black;
  }

  .menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    flex-direction: column;
    overflow-y: auto;
    z-index: 999;
   /* transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;*/
  }

  .menu a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
  }

  .menu.open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }


  .logo img {
display:flex;
    align-items:center;
    height: 4rem;
  }
}

/*home-Komponente*/
.home-component {
  display: flex;
  justify-content: space-between;
}

.home-box{
  display:flex;
  width:100%;
  position: relative
}

.home-block-text{
  z-index:5;
  width:100%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 200%;
  padding: 20px;
}

.home-box-text{
  position: absolute;
  left: 0;
  z-index: 2;
  width: 45%;
  animation: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.8) 0s 1 slideInFromLeft;
}

.home-box-image{
  position: relative;
  z-index: 1;
  margin-left: 40%;
  width: 55%;
  margin-top: 6rem;
  animation: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.8) 0s 1 slideInFromRight
}

.home-box-image img {
  width: 100%;
  height:100%;
  object-fit: cover;
}

.home-block-text {
  width:100%;
}

.home-block-text .h2-abweichung{
  font-weight:lighter;
}

@media (max-width: 600px) {
  .home-box {
    flex-direction: column;
    margin-bottom: 10rem;
    margin-top: 5rem;
    padding-top: 0;
    height:300px;
  }

  .home-box-text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    order: 1;
    width: 100%;
    text-align: center;

  }

  .home-block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


  .home-box-image {
    display:none;
  }

  .home-box-image img {
    width: 100%;
    height: auto;
  }
}




/*Intro-Komponente*/
.intro-component {
  margin-top:3rem;
  display: flex;
  justify-content: space-between;
}

.intro-block {
  box-sizing: border-box;
}

.box-links {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: -10rem;
}

.box-rechts {
  width: 65%;
  z-index:1000;
}


  .block-text {
    width:100%;
  }

  .box-rechts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    z-index:1000;
  }


@media (max-width: 600px) {


  .intro-component {
    margin-top:3rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }

  .box-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



  /*Code-Prinzipen-Komponente*/

  .code-prinzipen-component {

    .content-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      margin-top: 50px;
    }

    .content-block {
      max-width: 300px;
      text-align: center;
      min-height: 100vh;
      margin-right: 100px;
      flex: 0 1 calc(33.33% - 50px);
      color: white;
      line-height: 1.5;

    .img {
      width: 100px;
      height: 100%;
      object-fit: cover;
    }
    }
  }

  /*Kontakt-Komponente*/
  .contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;


    .container {
      display: flex;
      width: 50%;
      height: 60vh;
      justify-content: center;
      align-items: flex-start;
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .custom-input {
      width: 100%;
      height: 40px;
      padding: 10px;
      border-radius:5px;
    }

    .custom-textarea {
      width: 100%;
      height: 175px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.5;
      resize: vertical;
      text-align: left;
      vertical-align: top;
    }


    .contact-ueberschrift {
      font-size: 8rem;
      font-weight: bold;
      color: $text-color-ueberschrift;
      padding-bottom: 0;
      margin-bottom: 0;
      margin-top: 5rem;
      text-align: center;
    }


    .contact-col {
      flex: 1;
      margin-top:10px;
      margin-bottom:10px;
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content:center;
    }

    .contact-row{
      gap: 5px;
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: center;

      a{
        color: $detail-color;
        text-decoration: none;
        text-weight:bold;
      }
    }

    .form-button {
      width:200px;
      height:50px;
      margin-top:-1rem;
      border: 2px solid $detail-color;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      color:$detail-color;
      background-color: transparent;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: darken($detail-color, 10%);
        color:$tertiary-color;
      }
    }

    .success-message {
      margin-top: -115px;
      padding:  20px;
      color: green;
      display:flex;
      justify-content:center;
      text-align:center;
    }

    .error-message {
      color: green;
      margin-top: -115px;
      padding: 0 20px;
      display:flex;
      justify-content:center;
      text-align:center;
    }

    .detail-farbe {
      color: $detail-color;
    }


    .datenschutz-p{
      margin:.6rem 0;
      font-size:1rem;
    }

    .name-email-row{
      display:flex;
      flex-direction:row;
      justify-content:space-between;
      width: 100%;
      margin-top:3rem;
    }

    .contact-label {
      color: $text-color-text;
      padding-bottom:3px;
    }

    .pflicht-sternchen {
      color: $detail-color;
    }

    .contact-checkbox{
      margin:0;
    }

    .contact-col:last-child {
      margin-right: 0;
    }

    .custom-textarea {
      textarea {
        height: 160px;
        padding-left: 5px;
        line-height: normal;
        text-align: start;
        width:100%;
      }
    }

    .box-links {
      flex:1;
      padding-top:40px;
    }

    .box-rechts {
      flex:1;
      display:flex;
      padding-top:75px;
      align-items:center;
      flex-direction:column;
    }

    .p-inputGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .p-inputGroup label {
      margin-bottom: 8px;
    }
  }

@media screen and (max-width: 600px) {
  .contact-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 11rem;
  }

  .contact-titel{
    padding-top:2rem;
    padding-bottom:1rem;
  }

  .contact-component .container{
    width: 90%
  }

  .contact-row{
    display:flex;
    flex-direction:row;
    text-align:center;
  }

  .datenschutz-p {
    text-align:justify;
    margin-bottom:1rem;

}

  .contact-component .name-email-row{
    margin-top:1rem;
  }
}

  /*About-Komponente*/

  .about-component {
    display: flex;
    justify-content: space-between;

    .square-block {
      flex: 1;
      flex-direction: column;
      margin: 10px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .about-background{
    width:100vw;
    height: auto;
    background: white;
    font-size: var(--base-font-size);
    font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;
  }

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}

.image-square {
  width: 450px;
  height: 450px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
  outline: none;
  user-select: none;
}

.image-square.zoomed {
  transform: scale(4);
  cursor: pointer;
  z-index: 10;
}

.image-square.profile-image {
  background-image: url('../src/assets/images/ich_weissVoll.webp');
}

.image-square.bonn-ansicht2 {
  background-image: url('../src/assets/images/bonn_ansicht2-cut.jpg');
}

.image-square.code {
  background-image: url('../src/assets/images/code3-1.webp');
}

.image-square.pcs {
  background-image: url('../src/assets/images/laptop-2.webp');
}

.image-square.laptop {
  background-image: url('../src/assets/images/keyboard-886462_1280.jpg');
}

$base-shadow: 0 2px 6px rgba(0,0,0,0.05);

.image-square.dishlist {
  cursor:pointer;
  background-image: url('../src/assets/images/orang3_greenish_inside_D_512x512.webp');
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
  padding: 1rem;

  box-shadow: $base-shadow;

  &:hover {
    box-shadow: 0 8px 24px rgba(0,0,0,1);
    transform: scale(1.05) rotate(2deg);
  }
}


.image-square.orange {
  background: linear-gradient(to top, #E17C2F, #F4B183);
}

.image-square.gruenblau {
  background: linear-gradient(to bottom, #20D4B4, #A2E7DA);
}


.image-square.gelb {
  background: linear-gradient(to bottom,#F7E63B, #FFF2A6);
}

.image-square.blau {
  background: linear-gradient(to bottom, #5681ed, #163870);
}

.image-square.neutral {
  background: linear-gradient(to bottom, #F4F4F4, #E0E0E0);
}

.image-square.tastatur_alt {
  cursor:pointer;
  background-image: url('../src/assets/images/tastatur_alt.webp');
}


.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {


  .image-square {
    width: 100px;
    height: 100px;
    background-color: $secondary-color;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    transition: transform 0.3s ease-in-out;
    outline: none;
    user-select: none;
  }

  .intro-block.box-rechts{
   display:flex;
   justify-content:start;
   text-align: justify;
  }

  .p-bright-background {
    color: $text-color-text;
    font-size:20px;
    width:300px;
    margin-top:1.1rem;

  }
}

  /*services-Komponente*/

.services-component {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}

.services-text-box {
  flex: 1;
  max-width: 65%;
}

.Absatz_zwei ul li {
  margin-top: 2rem;
}

.service-graph-box {
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-graph-box img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  width: auto;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 0 20px 20px white;
}

  #myWord{
    cursor:pointer;
  }

#myList {
  display: none;
  cursor: pointer;
}

#myList.visible {
  display: block;
}


.button-container {
  flex-direction: column;
  width:300px;
  position: relative;
  margin-bottom:10rem;
}

.upper-buttons{
  display:flex;

}

.lower-button{
  display:flex;
  justify-content: center;

}

.ulist-services{
  padding-left:20px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
}


@media screen and (max-width: 600px) {
  * {
    box-sizing: border-box;
  }

  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .services-background {
    height: auto;
    width: 100%;
    background: linear-gradient(
        to bottom,
        $tertiary-color 0%,
        $tertiary-color 36%,
        $secondary-color 36%,
        $secondary-color 70%,
        $tertiary-color 70%,
        $tertiary-color 100%,
    );
    background-size: cover;
    font-size: var(--base-font-size);
    font-family: "Calibri", "proxima nova light", "Helvetica Neue", "Swiss 7", "Verdana", sans-serif;
    padding: 0;
    margin: 0;
  }

  .services-component {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .service-graph img {
    width:100%;
  }

  .services-text-box {
    display: flex;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    flex: 1;
    max-width: 100%;

    margin: 0 auto;
    text-align: justify;
  }



  .service-graph-box {
    max-width: 75%;
    width: 100%;
    text-align: center;
  }



  .Absatz_zwei {
    margin-left:  1rem;
    margin-right: 1rem;
  }

  .services-text-box ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }


  .service-graph-box{
    width: 100%;
  }

  .service-graph-box img {
    margin: 2rem 2.5rem;
    display: block;
    max-width: 100%;
    max-height: none;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 0 20px 20px white;
  }
}

/*Techstack-Services*/

.techstack-services{
  margin-top:11rem;
  padding-top:6rem;
}

.techstack-graph{
  margin-top:4rem;
  gap:3rem;
  display:flex;
  padding:0;
  flex-direction:column;

}

.techstack-container{
  display:flex;
  align-items:center;
}

.button-tech{
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 175px;
  height:75px;
  border-radius: 5px;
  cursor: pointer;
  color:$primary-color;
  border:1px solid $primary-color;
  background-color: transparent;
  padding:0;
  margin-right:2rem;
  font-size:1.5rem;
}

.button-tech.wd{
  border:3px solid orange;
  color:orange;
  margin-right:2rem;
}

.button-tech.fe{
  border:3px solid $detail-color;
  color:$detail-color;
  cursor:auto;
  margin-right:2rem;
}

.button-tech.be{
  border:3px solid black;
  color:black;
  cursor:auto;
}

.button-tech.tool{
  border:3px solid $detail-color-2;
  color:$detail-color-2;
  cursor:auto;
}


.tech-fe{
  width:75%;
  color:$detail-color;
}

.tech-be{
  width:75%;
  color:$detail-color-3;
}

.tech-tool{
  width:75%;
  color:$detail-color-2;
}

@media screen and (max-width: 600px) {

  .p-bright-background:first-child {
    margin-top: 3rem;
  }

  .techstack-services {
    text-align: center;
      margin-top:5rem;
      padding-top:6rem;
  }

  .techstack-graph {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
  }


  .techstack-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    margin-bottom:1rem;
  }

  .tech-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tech {
    margin: 0.5rem 2rem;
    text-align: justify;
  }
}

/*Arbeitsweise-Komponente*/

.arbeitsweise-services{
  margin-top:16.5rem;

}

.arbeitsweise-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top:1rem;
  padding-bottom:5rem;
}

.arbeitsweise {
  width: 100%;
}

/*.arbeitsweise-bild {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}*/


.arbeitsweise-container p-accordion p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: $secondary-color;
  color: $text-color-text;
  border: none;
  border-radius:10px;
}

.p-accordion .p-accordion-header .p-accordion-header-link:hover {
  background-color: $detail-color-2;
  color: #ffffff;
}

.vorteil-von{
  color:$detail-color-2 !important;
  margin-top:2.5rem;
}

@media screen and (max-width: 600px) {

  .arbeitsweise-services{
    margin-top:13rem;
    display:flex;
    flex-direction:column;
  }

  .arbeitsweise-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:1rem;
    padding-bottom:5rem;
  }

  .arbeitsweise-links {
    width: 100%;
  }

  .vorteil-von{
    margin-top:5rem;
    margin-bottom:1rem;
  }

  .p-accordion{
    width:100%;
  }
}

  /*Portfolio-Komponente*/
  .portfolio-component {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    text-align: left;
    align-items: stretch;
    margin-top: 5rem;
    padding-bottom:5rem;
    animation: 0.5s ease-out 0s 1 slideUp;
  }

.portfolio-text-box{
  width:100%;
}

.p-card-content{
  padding-top:0;
  padding-bottom:0;
}

.p-card-body{
  height:300px;
}

.portfolio-p{
  margin-bottom:0;

}
.p-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.projekt-beschriftung{
  justify-content:center;
  color:$detail-color-4;
  margin-top:.5rem;
  padding:8px;
  padding-left:0;
  font-size:1.3rem
}

.card-header{
  color:$detail-color-4;
  padding:8px;
  padding-left:0;
}

.link-container {
  display: flex;
  justify-content: flex-start;
  margin: 8px 0;
}

.link-item {
  margin-right: 16px;
  font-size: 16px;
}

.link {
  color: $detail-color-4;
  text-decoration: underline;
  cursor: pointer;
}

.logo{
  width:50px;
  height:auto;
}

.projekt-beschriftung-detail{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  margin-right:40px;
  font-size:16px;
}

.scroll-symbol {
  cursor: pointer;
  color: $detail-color-4;
  padding: 8px;
}

.scroll-symbol i {
  font-size: 20px; /* Größe des Icons */
}

.portfolio-component .custom-card .card-image {
    display:flex;
    justify-content: center;
    border-radius: 5px;
    width: 85%;
    height: auto;
  }



@media screen and (max-width: 600px){
  .portfolio-component {
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-top: 3rem;
    width:100%;
    animation: 0.5s ease-out 0s 1 slideUp;
  }

  .projekt-beschriftung-detail{
    margin-right:0;
  }

  .portfolio-component .custom-card .card-image {
    width: 100%;
  }

  .custom-card{
    margin-top:3rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
  }

  .link-container {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  .projekt-beschriftung{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    margin:  0;
    color:$detail-color-4 !important;
  }
}


@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

  .kurzvorstellung-component {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-direction: column;

    .tab-menu {
      flex: 0 0 auto;
      margin-top:10rem;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      animation: 0.5s ease-out 0s 1 slideUp;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link{
      border:none;
      background-color:$tertiary-color;
    }

    .p-tabmenu-nav .p-menuitem-text{
      font-size: 2rem;
      color:$text-color-unterueberschrift;
      font-weight:lighter;
      text-decoration:none;

    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem:hover .p-menuitem-link {
      text-decoration: none;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link{
     border: none;
     text-decoration:none;
     border-radius:5px;
    }

    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-text {

      color:$detail-color-2;
    }

    .p-tabmenu-nav .p-menuitem-text.p-highlight{
      color:$tertiary-color;
    }

    .content-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      color: $text-color-text;
    }

    .content-box-left{
      display: flex;
      justify-content: left;
      align-items: center;
      width:100%;
    }

    .content-box-center{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      margin-top:2rem;
    }


    .content-box-right {
      border: 5px solid $primary-color;
      padding:20px;
    }

    .content-box-left {
      border: 5px solid $tertiary-color;
    }

    .content-box.image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

.left-cell {
  width: 80%;
  vertical-align: top;
  text-align: left;
  margin-top:1rem;
}

.right-cell {
  width: 20%;
  vertical-align: top;
  text-align: right;
  margin-top:1rem;
}

.position-title {
  text-align:left !important;
  font-size: 20px;
  margin-right:10px;
  margin-bottom:.3rem;
  color: $detail-color-2;
}

.position-description {
  text-align:left !important;
  margin-top:0;
  margin-bottom: 1rem;
  font-weight: lighter;
}

.position-date {
  margin-right:0;
  font-size: 20px;
  color: $detail-color-2;
}

@media screen and (max-width: 600px){

  .p-tabmenu-nav .p-menuitem-text {
    font-size: 1.2rem !important;
    color: $text-color-unterueberschrift !important;
    font-weight: lighter !important;
  }

  .left-cell {
    width: 90%;
    margin-top:1rem;
    padding-top:1rem;
    text-align:left;
  }

  .right-cell {
    width: 10%;
    margin-top:1rem;
    padding-top:1rem;
    text-align:right;
  }

  .tab-menu {
    flex: 0 0 auto;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    animation: 0.5s ease-out 0s 1 slideUp;
  }

  .position-description {
   text-align:left;
    font-size:1rem;
    margin-left:0;
  }

  .position-title {
    margin-left:0;
    font-size: 20px;
  }

  .position-date {
    margin-top:1rem;
    font-size: 20px;
    color: $detail-color-2;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-text {
    color: $detail-color-2 !important;
    text-decoration:underline;
  }

  .p-tabmenu-nav .p-menuitem-text.p-highlight {
    color: $detail-color-2 !important;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background-color: $tertiary-color !important;
    border-radius: 5px;
  }

  .kurzvorstellung-component .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $text-color-text;
  }

}

  /*Footer-Komponente*/

  .footer-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin-top: 10rem;
    padding-left: 20vw;
    padding-right: 20vw;
    height: 21rem;
    background:  $detail-color;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
  }

  .schriftzug_footer{
    width: 300px;
    height: auto;
  }

.right-box-wrapper {
  display: flex;
  flex-direction: row;
}

.box-social-icons{
  display:flex;
  padding-top:15px;

  .pi{
      color:$primary-color;
      font-size: 2rem;
      width: 2.5rem;
      height: 2.5rem;
      align-items: center;
      justify-content: left;
    }

  a{
    margin-right:10px;
    }
  }


.listing {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   list-style: none;
 }

  .listing ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: left;
  }


  .listing li {

    a {
      color: $text-color-text;
    }

    a:hover{
    color: $text-color-ueberschrift;
      text-decoration: none;
    }
  }


.footer-logo-feld{
  text-decoration:none;
  color: $text-color-text;


  a {
    text-decoration: none;
    color: $text-color-text;
  }

  a:hover{
    text-decoration:none;
    color: $text-color-ueberschrift;
  }
}

  .box > * {
    /*margin-left: 15px;*/
    color: $text-color-text;
  }


  div > .pi:not(:last-child) {
    margin-right: 10px;
  }

.madeInBonn-Text{
 padding-bottom:5px;
}


@media screen and (max-width: 600px) {
/*  .footer-component {
    width:100%;
    flex-direction: column;
    background-color:$detail-color;
    min-height: 100vh;
    margin-top:3rem;

  }*/

  .footer-component {
    display: flex;
    min-height: 145vh;
    width:100%;
    flex-direction: column;
    align-items: center;
    background:  $detail-color;
    padding:0;
  }

  .box {
    width: 100%;
    display:flex;
    align-items: center;
    margin-left:0
  }

  /*.box {
    display: flex;
    flex-direction: column;

    margin-left: 50px;
  }*/

  .foot-logo-container{
    display:flex;
    justify-content: center;
    flex-direction:column;
    margin-top:4rem;
    margin-bottom:2rem;
  }

  .right-box-wrapper {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    width:100%;
    margin-top:5rem;
  }

/*  #nav {
    display: none;
  }*/


  #info{
    margin-bottom:3rem;
    padding-bottom:3rem;
  }
}


.listing {
  margin-bottom:3rem;
}




  /*Impressum-Komponente*/

.impressum-component{

  .impressum-adresse{
   margin-top:100px;
   margin-bottom:20px;
  }

  .impressum-block{
    margin-top:20px;
    margin-bottom:20px;
  }
}

/*Datenschutz-Komponente*/

.datenschutz-component{
  height: 300vh;
}

/*FAQ-Komponente*/

.faq-acordion{
  margin-top:4em;
}

.p-accordion p-accordiontab .p-accordion-header .p-accordion-header-link{
  width:100%;
}

.component-width .faq-acordion p,
.component-width .faq-acordion li {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}


/*Cookies-Dialog*/
.custom-dialog .p-dialog {
  background-color:grey;
  position: fixed;
  bottom: 20px;
  padding: 0;
  width: 350px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.cookies-button-footer {
  display: flex;
  justify-content: center;
  gap:5px;
}

.button-footer .p-button {
  flex: none;
}

.cookie-p{
  margin:0;
}

.black-button {
  background-color: black;
  color: white;
  border: none;
}

.black-button:hover {
  background-color: #333;
}



.p-footer {
  display: flex;
  justify-content: space-between;
  padding:5px;
}

.p-dialog .p-dialog-footer{
  padding:20px;
}

.custom-button, .custom-button .p-button {
  border-radius: 5px!important;
}
