<div class="kurzvorstellung-component">
  <div class="kurzvorstellung-container">
    <!-- Tab Menu -->
    <div class="tab-menu">
      <p-tabMenu [model]="items" [(activeItem)]="activeItem" (activeItemChange)="onTabChange($event)">
      </p-tabMenu>
    </div>

    <!-- Content für Ausbildung -->
    <div *ngIf="activeTabContent?.title === 'Ausbildung'" class="content-container">
      <div class="content-box-center">
        <table class="ausbildung-tabelle">
          <tr>
            <td class="left-cell">
              <p class="position-title">{{ 'cv.work.position-title4' | translate | async }}</p>
              <p class="position-description">{{ 'cv.work.position-description4' | translate | async }}</p>
            </td>
            <td class="right-cell">
              <p class="position-date">2015-2018</p>
            </td>
          </tr>
          <tr>
            <td class="left-cell">
              <p class="position-title">Purdue University, Indiana (USA)</p>
              <p class="position-description">Agricultural Economics (Master of Science)</p>
            </td>
            <td class="right-cell">
              <p class="position-date">2017</p>
            </td>
          </tr>
          <tr>
            <td class="left-cell">
              <p class="position-title">{{ 'cv.work.position-title5' | translate | async }}</p>
              <p class="position-description">{{ 'cv.work.position-description5' | translate | async }}</p>
            </td>
            <td class="right-cell">
              <p class="position-date">2011-2015</p>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Content für Berufliche Stationen -->
    <div *ngIf="activeTabContent?.title === 'Berufserfahrung'" class="content-container">
      <div class="content-box-center">
        <table class="erfahrung-tabelle">
          <tr>
            <td class="left-cell">
              <p class="position-title">{{ 'cv.work.position-title' | translate | async }}</p>
              <p class="position-description">{{ 'cv.work.position-description' | translate | async }}</p>
            </td>
            <td class="right-cell">
              <p class="position-date">{{ 'cv.work.position-date' | translate | async }}</p>
            </td>
          </tr>
          <tr>
            <td class="left-cell">
              <p class="position-title">{{ 'cv.work.position-title2' | translate | async }}</p>
              <p class="position-description">{{ 'cv.work.position-description2' | translate | async }}</p>
            </td>
            <td class="right-cell">
              <p class="position-date">2021-2022</p>
            </td>
          </tr>
          <tr>
            <td class="left-cell">
              <p class="position-title">{{ 'cv.work.position-title3' | translate | async }}</p>
              <p class="position-description">{{ 'cv.work.position-description3' | translate | async }}</p>
            </td>
            <td class="right-cell">
              <p class="position-date">2018-2021</p>
            </td>
          </tr>
        </table>
      </div>
    </div>



  </div>
</div>
