<p-dialog [(visible)]="display" [closable]="false" class="custom-dialog">
  <p-header>
    Cookies & Datenschutz
  </p-header>
  <div>
    <p>
      Diese Website verwendet Cookies, um Ihnen das beste Erlebnis auf dieser Website zu bieten.
    </p>
    <a href="/data-protection">Mehr erfahren</a>
  </div>
  <p-footer class="cookies-button-footer">
    <button pButton  label="Ablehnen" icon="pi pi-times" class="p-button-icon black-button" (click)="onDecline()"></button>
    <button pButton  label="Akzeptieren" icon="pi pi-check" class="p-button-icon black-button" (click)="onAccept()"></button>
  </p-footer>
</p-dialog>
