<div *ngIf="loaded; else loading">
<div class="footer-component">
  <div class="box">
    <div class="foot-logo-container">
      <img src="assets/images/ad_bu_schw_bau_skal_footer.webp" alt="Logo">
      <div class="footer-logo-feld">
        <p><a routerLink="/data-protection">Datea protection</a> &nbsp;|&nbsp; <a routerLink="/legal-notice">Imprint</a></p>
        <script src="script_mailing.js"></script>
        <p class="madeInBonn-Text">Made in Bonn</p>
        <br>
        <p> © 2023 Alexander Durach </p>
      </div>
    </div>
  </div>
  <div class="right-box-wrapper">
  <div class="box">
    <div class="listing" >
      <ul>
        <li><h3 style="margin-top:0;margin-right:2rem;">Navigation</h3></li>
      <!--  <li><a routerLink="/">Home</a></li>-->
        <li><a routerLink="/about">About me</a></li>
        <li><a routerLink="/services">Expertise</a></li>
        <li><a routerLink="/publications">Publications</a></li>
        <li><a routerLink="/software">Software</a></li>

    <!--    <li><a routerLink="/contact">Kontakt</a></li>-->
      </ul>
    </div>
  </div>
    <div class="box">
    <div class="listing">
      <ul>
        <li><h3 style="margin-top:0;">Contact</h3></li>
        <li><a href="mailto:alexdurach@gmail.com" class="custom-button">E-Mail me</a></li>
      </ul>
   <div class="box-social-icons">
     <a href="https://www.linkedin.com/in/alexanderdurach/" target="_blank">
       <i class="pi pi-linkedin"></i>
     </a>

     <a href="https://wa.me/4915730755475" target="_blank">
       <i class="pi pi-whatsapp"></i>
     </a>

     <a href="https://github.com/AlexDur" target="_blank">
       <i class="pi pi-github"></i>
     </a>

   </div>
  </div>
  </div>
  <div class="box">
    <div class="listing" id="info">
      <ul>
        <li><h3 style="margin-top:0;">Info</h3></li>
        <li><!--<a routerLink="/faq"-->FAQ<!--</a>--></li>
      </ul>
    </div>
  </div>
  </div>
</div>
</div>
<app-scroll-up-button></app-scroll-up-button>
<ng-template #loading>
  <p>Lädt...</p>
</ng-template>

