<div class="services-background">
  <div class="component-width" *ngIf="loaded; else loading">
    <div class="h1-abweichung">{{ 'services.title' | translate | async }}</div>
    <div class="h2-abweichung-dunkel">{{ 'services.research.title' | translate | async }}</div>
    <p>{{ 'services.research.description' | translate | async }}</p>
    <div class="techstack-container">
      <button class="button-tech fe">{{ 'services.research.analysis.title' | translate | async }}</button>
      <p class="tech-fe"> R&nbsp;&nbsp;|&nbsp;&nbsp;Phyton&nbsp;&nbsp;|&nbsp;&nbsp;PyTorch</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="h2-abweichung-dunkel">{{ 'services.fullstack.title' | translate | async }}</div>
    <div class="services-component">
      <div class="services-text-box">
        <div class="Absatz_eins"></div>
        <p>{{ 'services.fullstack.description' | translate | async }}</p>
        <div class="service-graph-box" *ngIf="!isDesktop">
          <app-services-grafik></app-services-grafik>
        </div>
        <div class="Absatz_zwei">
          <ul>
            <li><strong>Frontend: </strong>{{ 'services.fullstack.frontend.description' | translate | async }}</li>
            <li><strong>Backend: </strong>{{ 'services.fullstack.backend.description' | translate | async }}</li>
          </ul>
        </div>
      </div>
      <div class="service-graph-box" *ngIf="isDesktop">
        <app-services-grafik></app-services-grafik>
      </div>
    </div>

    <app-services-techstack></app-services-techstack>
    <app-services-arbeitsweise></app-services-arbeitsweise>

  </div>
</div>

<ng-template #loading>
  <p>Lädt...</p>
</ng-template>
